header {
	text-align: center;
	border-bottom: 1px dashed #0FA0CE; /* Same color as the default Skeleton link color */
	margin-bottom: 3.6rem;
}
header>span {
	display: block;
}
header span:first-child {
	font-size: 8.64rem; /* Three levels above the framework's <h1> in its typography scale (going by 1.2:1 ratio) */
	text-transform: uppercase;
}
header span:last-child {
	font-size: 3rem; /* Equivalent to an <h5> */
	text-align: right;
	font-style: italic;
	padding-bottom: 1.5rem;  /* Default size of h6 headings */ 
}

aside {
	background-color: #1eaedb; /* same as link color */
	position: fixed;
	max-width: 303px; /* Trying to align it with end of header bottom-border on desktop veiw */
	left: 60%;
}
nav a {
	color: #DFDFDF;
	text-decoration: none;
	font-weight: bold;
}
nav a:hover {
	color: #202020;
	text-decoration: underline;
}
nav ul {
	padding-left: 10px;
}
nav h2 {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-top: 10px;
}

footer {
	border-top: 1px dashed #0FA0CE;
	margin-top: 3.6rem;
}
footer div {
	padding-top: 1.5rem; /* Default size of h6 headings */
}
footer em {
	float: right;
}

.center-in-column { /* For centering the YouTube video embed and buttons */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 2rem;
}

/* The type scale doesn't decline dramatically enough. I'm skipping levels, redefining h2 as the default h3. */
h2 {
	font-size: 3.0rem;
}
h3 {
	font-size:1.8rem; /* Default value of h5 */
}
h4 {
	font-size: 1rem;
	font-style: bold;
}

body {
	color:  #202020;
	background-color: #DFDFDF;
}

/* Accounting for mobile styles at the breakpoint where the framework columns colapse */
@media screen and (max-width: 549px) {
	header>span:first-child {
		font-size: 5rem; /* About one level about the default h1 size */
	}
	header>span:last-child {
		font-size: 3rem; /* Default h3 */
	}
	aside {
		left: 5%;
		max-width: 90%;
		max-height: 210px;
		height: 210px; /* Corresponding JavaScript requires set height for this tag */
		top: 0;
	}
	aside h2 {
		font-size: 2.4rem;
		margin: 5px 0;
	}
	aside nav {
		margin-left: 10%;
	}
	aside li {
		display: inline-block;
		padding-bottom: none;
		margin-bottom: none;
	}
	aside li a {
		border-bottom: 1px dashed #202020; /* not enough clues to show unambiguously that they're links */
	}
	aside li a:hover {
		text-decoration: none;
		border-color: #DFDFDF;
	}
	aside ul {
		list-style: none;
		margin: 0 0 5 10px;
	}
	aside nav>ul>li {
		font-size: 1.8rem; /* framework h5 */
	}
	aside ul>ul>li {
		font-size: 1.5rem; /* framework h6 */
	}
	aside ul>ul>li:not(:last-child) {
		margin-right: 5px;
	}
	aside ul>ul {
		margin-bottom: 0;
		position: relative;
		bottom: 15px;
	}
	aside ul>ul li:first-child::before {
		content: "»";
		padding-right: 8px;
	}
	aside ul>ul li:not(:last-child)::after {
		content: "•";
		padding-left: 8px;
		border: none !important;
	}
}
@media screen and (max-width: 375px) {
	header>span:first-child {
		font-size: 4rem;
	}
	header>span:last-child {
		text-align: center;
		font-size: 2.4rem;
	}
	aside nav {
		margin-left: 0;
	}
}
@media screen and (max-width: 345px) {
	aside nav ul li { /* need so many selectors to beat specificity */
		font-size: 1.4rem;
	}
	aside nav>ul {
		position: relative;
		top: 10px;
	}
}